extends layout

block content 

    div(class="posts-grid")            
        for post in posts 
            li(class="posts-container")
                h3= post.title 
                p= post.details 
                p= post.status
                if post.date 
                    h6= post.date
                if isAuthenticated
                    p= post.user.name 
    if isAuthenticated
        a(href="/posts/create-post") 
            button Create new post