extends layout

block content 

    if isAuthenticated
        div(class='newpost-container')
            a(href="/posts/create-post") 
                button(class='new-post-btn') New Post

    div(class="posts-grid")            
        for post in posts 
            li(class="posts-container")
                h3= post.title 
                p= post.details 
                p= post.status

                if isAuthenticated
                    div(class='post-footer')
                        if post.date 
                            h6= post.date
                        p= post.user.name 
